
body {
    margin: 0px;
    font-family: monospace;
}

.hero-container {
    background-color: #1f2937;
}
.hero {
    display:flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin:auto;
}

.container-one {
    display:flex;
    justify-content: space-between;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    display:flex;
    align-items: center;
}

.header-links {
    display:flex;
    gap:16px;
    list-style-type: none;
    padding:0px;
    
}

.li, a {

    color:#e5e7eb;
    text-decoration:none;
}

.container-two {
    display:flex;
    height:600px;
    justify-content: center;
    width: 1200px;
    align-content: center;
    flex-wrap: wrap;
}

.left-container {
    display: flex;
    width: 50%;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

p.main-text {
    font-size: 48px;
    color:#f9faf8;
    font-weight: 1000;
    margin:0px;
    width: 400px;
}

p.secondary-text {
    color:#e5e7eb;
    font-size:18px;
    width:400px;
}

button.sign-up {
    background-color: #3882f6;
    border-radius: 15px;
    width:200px;
    height:50px;
    font-size:18px;
    color: #e5e7eb;
    border-color: #e5e7eb;
}

.right-container {
    display:flex;
    width: 50%;
    justify-content: center;
}

img {
    width: 600px;
    height: auto;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: 600px;
    justify-content: center;
}

.info-container-one {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: -100px;
}

.info-container-two {
    display: flex;
    
}

.box {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    border: 6px solid #3882f6;
    
}

.box-one, .box-two, .box-three, .box-four {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin: 32px;
    font-size: 0 18px;
}

.quote-section {
    display: flex;
    height: 500px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.container-quote {
    font-size: 36px;
    font-style: italic;
    width: 1000px;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
}

#suntzu {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.cta-section {
    display: flex;
    height:400px;
    justify-content: center;
    align-items: center;
}

.cta-banner {
    display:flex;
    width: 1200px;
    justify-content: space-evenly;
    background-color: #3882f6;
    height: 50%;
    border-radius: 15px;
    border: 2px solid grey;
}

